@use '../../../styles/colors' as *;

.field {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.label {
    font-size: 0.875rem;
    font-weight: 500;
    color: $text-main;
    margin-bottom: 0.5rem;
}

.input, .select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid $input-border;
    border-radius: 6px;
    font-size: 1rem;
    color: $text-main;
    background-color: $input-bg;
    transition: border-color 0.2s, box-shadow 0.2s;
    
    &:hover {
        border-color: darken($input-border, 10%);
    }
    
    &:focus {
        outline: none;
        border-color: $input-focus;
        box-shadow: 0 0 0 3px rgba($input-focus, 0.1);
    }
    
    &::placeholder {
        color: $text-light;
        opacity: 0.5;
    }
}

.errorText {
    color: $error;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    font-weight: 500;
}
