$primary: #0070f3;
$secondary: #666;
$background: #fff;
$background-dim: #f5f5f5;
$text-main: #171717;
$text-light: #666;
$border: #eaeaea;
$error: #e00;

$input-bg: #fff;
$input-border: #ccc;
$input-focus: #0070f3;
